body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: black;
}

h3 {
    color: black;
}

p {
    color: black;
    line-height: 25px;
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 5%;
    margin-top: 10%;
    padding-right: 5%;
}

.half img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;

}

.first-sec {
    background-image: url(/developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
    background-color: white;
    margin-bottom: 70px;
    ;
}

.second_sec {
    background: white;
    padding: 50px 20px;
}